**/target/
*.log
.project
.classpath
.settings/
.idea/
/**/dependency-reduced-pom.xml
matches.pgn
search/DebugSearchTree*.txt
engine-tools/scripts/venv/

/engine/DebugSearchTree-*
/engine-reports/DebugSearchTree-*.txt
