<configuration>
	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>

	<logger level="info" name="net.chesstango" />
	<!-- logger level="trace" name="net.chesstango.uci.proxy.UciProxy" / -->
	<!-- logger level="trace" name="net.chesstango.uci.engine.UciTango" / -->

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %-25.25logger{25} - %msg%n</pattern>
		</encoder>
	</appender>

</configuration>
