apiVersion: apps/v1
kind: Deployment
metadata:
  name: chesstango
  labels:
    app: chesstango
spec:
  replicas: 1
  selector:
    matchLabels:
      app: chesstango
  template:
    metadata:
      name: chesstango
      labels:
        app: chesstango
    spec:
      volumes:
        - name: books-volume
          hostPath:
            path: /home/mauricio/chesstango/books
            type: Directory
      containers:
        - name: chesstango
          image: coriamauricio/chesstango:0.0.25
          imagePullPolicy: IfNotPresent
          env:
            - name: POLYGLOT_BOOK
              value: "/books/polyglot/komodo.bin"
            - name: SYZYGY_DIRECTORY
              value: "/books/syzygy/"
            - name: BOT_TOKEN
              valueFrom:
                secretKeyRef:
                  name: lichess-secret
                  key: BOT_TOKEN
          volumeMounts:
            - name: books-volume
              mountPath: /books
      restartPolicy: Always
