<configuration>
	<root level="INFO">
		<appender-ref ref="FILE" />
	</root>

    <logger level="TRACE" name="net.chesstango.uci.engine.UciTango"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>chesstango.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %-25.25logger{25} - %msg%n</pattern>
        </encoder>
    </appender>

</configuration>
